<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"><!--Charset özelliği HTML belgesinin karakter kodlamasını belirtir.-->
		<title>Url Kısaltma</title><!--Başlık Url Kısaltma yapıldı-->
	</head>
	<body>
		<h3>Kısaltılacak URL'yi giriniz:</h3><!--h3 tag i ile "Kısaltılacak URL'yi giriniz" yazıldı.-->
		<form action="/login" method="POST"><!--form oluşturuldu ve butona basılınca /login sayfasına gönderildi.-->
			<div>
				<input type="text" id="url" name="isim"><!--Girilecek verinin tipi text ayarlandı. Name kısmıda isim olarak ayarlandı.-->
				<input type="submit" class="btn btn-primary" value="URL Kısalt"><!--Buton oluşturulup butonun üzerine "URL Kısalt" yazıldı.-->
			</div>
		</form>
	</body>
</html>
